### ENCODING
1. Label and Binary Encoding

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.preprocessing import LabelEncoder


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

def load():
    data = pd.read_csv("datasets/titanic.csv")
    return data


df = load()

In [11]:
le = LabelEncoder()
le.fit_transform(df["Sex"])[0:5] 
le.inverse_transform([0,1]) ##when you want to check which is which

array(['female', 'male'], dtype=object)

In [22]:
def label_encoder(dataframe, binary_col):
    labelencoder = LabelEncoder()
    dataframe[binary_col] = labelencoder.fit_transform(dataframe[binary_col])
    return dataframe

binary_cols = [col for col in df.columns if df[col].dtype not in ["int64", "float64"]
               and df[col].nunique() == 2]
##use nunique instead of unique.len (unique counts na as unique as well)

for col in binary_cols:
    label_encoder(df, col)

df.head()

   PassengerId  Survived  Pclass                                               Name  Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    1 22.000      1      0         A/5 21171  7.250   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0 38.000      1      0          PC 17599 71.283   C85        C
2            3         1       3                             Heikkinen, Miss. Laina    0 26.000      0      0  STON/O2. 3101282  7.925   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0 35.000      1      0            113803 53.100  C123        S
4            5         0       3                           Allen, Mr. William Henry    1 35.000      0      0            373450  8.050   NaN        S

2. One Hot Encoding (dummy variables)

In [24]:
df["Embarked"].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [27]:
df = load()
pd.get_dummies(df, columns=["Embarked"]).head() 
## drop_first=True to get rid of one column which can reduce correlation
## dummy_na=True   to encode na as a column as well

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin  Embarked_C  Embarked_Q  Embarked_S
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN       False       False        True
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85        True       False       False
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN       False       False        True
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123       False       False        True
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN       False       False        True

In [29]:
pd.get_dummies(df, columns=["Sex"], drop_first=True).head()
##this is binary coding, now sex_male

   PassengerId  Survived  Pclass                                               Name    Age  SibSp  Parch            Ticket   Fare Cabin Embarked  Sex_male
0            1         0       3                            Braund, Mr. Owen Harris 22.000      1      0         A/5 21171  7.250   NaN        S      True
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th... 38.000      1      0          PC 17599 71.283   C85        C     False
2            3         1       3                             Heikkinen, Miss. Laina 26.000      0      0  STON/O2. 3101282  7.925   NaN        S     False
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel) 35.000      1      0            113803 53.100  C123        S     False
4            5         0       3                           Allen, Mr. William Henry 35.000      0      0            373450  8.050   NaN        S      True

3. Rare Encoding

- Combine values which appear rarely and represent them as one