### MISSING VALUES
1) Catching missing values

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

def load():
    data = pd.read_csv("datasets/titanic.csv")
    return data


df = load()

In [7]:
df.isnull().values.any()

True

In [10]:
df.isnull().sum().sort_values(ascending=False) #counts at least 1 NA column

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [12]:
(df.isnull().sum() / df.shape[0] * 100).sort_values(ascending=False) ##percentage

Cabin         77.104
Age           19.865
Embarked       0.224
PassengerId    0.000
Survived       0.000
Pclass         0.000
Name           0.000
Sex            0.000
SibSp          0.000
Parch          0.000
Ticket         0.000
Fare           0.000
dtype: float64

In [15]:
[col for col in df.columns if df[col].isnull().sum() > 0] ##get only var.s with NA

['Age', 'Cabin', 'Embarked']

In [23]:
def missing_values_tabel(dataframe, na_name=False):
    na_columns = [col for col in dataframe.columns if dataframe[col].isnull().sum() > 0]

    n_miss = dataframe[na_columns].isnull().sum().sort_values(ascending=False)
    ratio = (dataframe[na_columns].isnull().sum() / dataframe.shape[0] * 100).sort_values(ascending=False)

    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=["n_miss", "ratio"])
    print(missing_df, end="\n")

    if na_name:
        return na_columns
    
missing_values_tabel(df)

          n_miss  ratio
Cabin        687 77.100
Age          177 19.870
Embarked       2  0.220

2. Trying to deal with missing values